@import "tailwindcss";
@reference "tailwindcss";

@layer base {
  html,
  body {
    height: 100%;
  }

  body {
    @apply bg-white text-zinc-900 antialiased;
  }

  a {
    @apply text-zinc-900;
  }
}
